{{ define "content" }}
<main class="min-h-screen flex items-center justify-center bg-gray-50">

    <div class="max-w-md w-full">
        <!-- Name application -->
         <div>
            <p class="text-center mb-7 text-5xl text-[#1A388B] font-bold">Catecard</p>
        </div>

        <div>
            <h2 class="text-center text-2xl font-medium">Iniciar sesión</h2>
            <p class="text-center mt-2 text-gray-600">Ingresa tus credenciales para continuar</p>
        </div>

        <form class="mt-8 space-y-6 p-8" method="POST" action="/login">
            <div>                
                <div class="mb-4">
                    <label for="username" class="form-label">Usuario</label>
                    <input id="username" name="username" type="text" autocomplete="username" required
                        class="form-input"
                        placeholder="Ingresa tu usuario">
                        <p class="text-[13px] text-gray-500 mt-2">Ingresa el correo que te proporcionó el administrador</p>
                </div>
                <div>
                    <label for="password" class="form-label">Contraseña</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        class="form-input"
                        placeholder="Ingresa tu contraseña">
                </div>
            </div>

            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-lg text-white bg-[#1A388B] hover:opacity-80 cursor-pointer">
                    Entrar
                </button>
            </div>
        </form>
       
    </div>
</main>
{{ end }}