{{ define "content" }}

<main class="container mx-auto px-4 py-8 max-w-2xl">
    <div class="text-center mb-8">
    <h1 class="text-2xl font-medium leading-snug"> Escanear Código QR</h1>
    <p class="text-gray-600 mt-1">Escanea el código QR del catecúmeno para registrar su asistencia</p>
    </div>

    <div class="flex flex-col items-center justify-center">
        <div class="w-full bg-white rounded-2xl">
    
     <div class="bg-white  rounded-lg p-6  w-96 flex flex-col items-center mx-auto">
        <div
            id="preview"
            class="w-48 h-48 rounded-3xl bg-gradient-to-br from-primary/10 to-primary/5 flex items-center justify-center mb-8 relative overflow-hidden bg-[#3b82f6]/10"
        >
            <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-scan w-24 h-24 text-[#1A388B]"
            aria-hidden="true"
            >
            <path d="M3 7V5a2 2 0 0 1 2-2h2"></path>
            <path d="M17 3h2a2 2 0 0 1 2 2v2"></path>
            <path d="M21 17v2a2 2 0 0 1-2 2h-2"></path>
            <path d="M7 21H5a2 2 0 0 1-2-2v-2"></path>
            </svg>
        </div>
        <button
        type="submit"
        class="group relative w-full flex items-center justify-center gap-2 py-2 px-4 border border-transparent text-sm font-medium rounded-lg text-white bg-[#1A388B] hover:opacity-80 cursor-pointer"
        >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-4 h-4 text-white"
            aria-hidden="true"
        >
            <path d="M3 7V5a2 2 0 0 1 2-2h2"></path>
            <path d="M17 3h2a2 2 0 0 1 2 2v2"></path>
            <path d="M21 17v2a2 2 0 0 1-2 2h-2"></path>
            <path d="M7 21H5a2 2 0 0 1-2-2v-2"></path>
        </svg>
        Escanear QR
        </button>
    <p class="text-gray-500 mt-4 text-center">
        Coloca el código QR frente a la cámara
    </p>
    </div>

    </div>

    </div>


</main>


{{end}}