@import "tailwindcss";

@layer components {
  .form-label {
    @apply block text-sm font-medium mb-1;
  }

  .form-input {
    @apply  bg-gray-100 rounded-lg h-9 px-3 py-1 w-full placeholder:text-sm placeholder:text-gray-500;
  }

  /* Select con el mismo diseño que .form-input */
  .form-select {
    @apply bg-gray-100 rounded-lg h-9 px-3 py-1 w-full text-sm text-gray-900;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1rem 1rem;
    padding-right: 2.25rem; /* espacio para el ícono */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='%236b7280'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7' /%3e%3c/svg%3e");
  }
  .form-select:disabled {
    @apply opacity-60 cursor-not-allowed;
  }

}